snakemake_jobscript.sh.*
slurm-*
**__pycache__**
.vscode/launch.json
data/microRNA/Predicted_Targets_Info.default_predictions.txt.zip
jobscriptStatus/
nohup_vienna.out
*deleteme*
requirements.yaml
output/codonOnlyClassificationMLP/allExtraFeatures/best_checkpoint/
output/codonOnlyClassificationMLP/best_checkpoint/
output/codonOnlyClassificationMLP/codonOnly/best_checkpoint/
output/codonOnlyClassificationMLP/extraFeaturesAndMotifCounts/best_checkpoint/
output/importance/dev_visualizeImportance_tokenized.html
output/importance/test_visualizeImportance_tokenized.html
output/importance/train_visualizeImportance_tokenized.html
output/motifs/dev/negative/interest_seqs.fasta
output/motifs/dev/positive/interest_seqs.fasta
output/motifs/test/negative/interest_seqs.fasta
output/motifs/test/positive/interest_seqs.fasta
output/motifs/train/negative/interest_seqs.fasta
output/motifs/train/positive/interest_seqs.fasta
data/Kallisto_DESeq2_15August25.csv
notebooks/explorativeJupyterNotebooks/decayOld_vs_decayNew.ipynb
data/Kallisto_DESeq2_15August25.csv
output/ray_ablations/
output/motifEnrichment/*parquet
/setupEnv.log
/setupRIPseqEnv.log
