/same3UTR_predictions.csv
/originalSeqs_predictions.csv
/sameSeq_predictions.csv
/originalSeqs.fasta
/sameSeq.fasta
/same3UTR.fasta
/same5UTR.fasta
/same5UTR_predictions.csv
/seqImpact.fasta
/extraFeatImpact.fasta
/5UTRImpact.fasta
/3UTRImpact.fasta
/seqImpact_predictions.csv
/extraFeatImpact_predictions.csv
/5UTRImpact_predictions.csv
/3UTRImpact_predictions.csv
/test-extraFeatImpact.fasta
/dev-3UTRImpact.fasta
/dev-5UTRImpact.fasta
/dev-5UTRImpact_predictions.csv
/dev-extraFeatImpact.fasta
/dev-extraFeatImpact_predictions.csv
/test-seqImpact.fasta
/test-3UTRImpact.fasta
/dev-seqImpact.fasta
/test-seqImpact_predictions.csv
/test-3UTRImpact_predictions.csv
/dev-seqImpact_predictions.csv
/dev-3UTRImpact_predictions.csv
/test-5UTRImpact.fasta
/test-5UTRImpact_predictions.csv
/test-extraFeatImpact_predictions.csv
